
# Plotting configuration file.
# =====
# Please edit this file carefully, generally the CPU and MEM options are left with 
# 	their defaults. For the static report, these have special under the hood calculations
#   to give you the used memory vs total memory instead of free vs total.
# For the Interactive report, the field names are used to pic out the right field from the CSV
# files for plotting.
# 
# Do adjust DISKBUSY and NET to plot the desired data
#
# Defaults for Linux Systems:
# CPU_ALL=user,sys,wait{stackedGraph: true, fillGraph: true}
# DISKBUSY=sda1,sdb1{}
# MEM=memtotal,active{}
# NET=eth0{}
#
# Defaults for AIX Systems
# CPU_ALL=user,sys,wait{stackedGraph: true, fillGraph: true}
# DISKBUSY=hdisk1,hdisk10{}
# MEM=Real total(MB),Real free(MB){}
# NET=en2{}

CPU_ALL=user,sys,wait{stackedGraph: true, fillGraph: true}
DISKBUSY=sda1,sdb1{}
MEM=memtotal,active{}
NET=eth0{}
